.body{
  display: flex;
  flex-direction: column;
  align-items: left;

  margin: 2em;
}

.navbar{
  align-self: left;
}

.container{
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: left;
}

.diplomaDiv img{
  max-width: 15em;
  margin: 0;
}



